body
{
  background-color: black;
  color: #55ACEE;
}

#myname
{
  margin-left: 620px;
}
#workfield
{
    margin-top: -10px;
    margin-left: 470px;
    font-size: 20px;
}

p
{
    margin-left: 670px;
    color: aliceblue;
    font-family: 'Acme', sans-serif;
    font-size: 40px;
}

#mapicon 
{
  margin-left: 280px;
}

#mapname
{
  color: gray;
}

#emailicon
{
  margin-left: 50px;
}

#mailid
{
  color: gray;
}

#githubicon 
{
  margin-left: 50px;
}

#githubname
{
  color: gray;
}

#Liicon 
{
  margin-left: 50px;
}

#linkedinname
{
  color: gray;
}

#twicon 
{
  margin-left: 50px;
}

#twiname
{
  color: gray;
}

#instaicon 
{
  margin-left: 50px;
}

#instaname
{
  color: gray;
}

#mylogo
{
	border-radius: 40%;
  margin-top: 7px;
  margin-bottom: -5px;
	margin-right: 20px;
	margin-left: 1px;
}

#theheader
{
	align-content: center;
	font-family: 'Dancing Script', cursive;
}

#selfpic
{
  border: 2px;
  border-radius: 50%;
  border-style: ridge;
  border-width: 17px;
  border-color: gray;
}

#selfpic:hover
{
  border:none;
  box-shadow: 0 0 1px black inset;
}

#aboutmehead
{ 
  margin-left: 100px;
  margin-top: 80px;
  color: antiquewhite;
}

#aboutme
{
  font-size: 18px;
  margin-left: 100px;
  font-family: 'Arvo', serif;
}

.table {
	display: table;   /* Allow the centering to work */
}

ul#horlist {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}
	ul#horlist li {
    border: 1.5px solid #2196F3;
  border-radius: 10%;
  margin-left: 60px;
  margin-right: -30px;
  padding-top: 4px;
  padding-right: 10px;
  padding-bottom: 4px;
  padding-left: 10px;
  color: white;
	display: inline;
  }

  .btn-outline-primary
  {
    margin-left: 300px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .fa-file-download
  {
    margin-left: 5px;
  }
  #aboutmeimg
  {
    margin-left: 200px;
    margin-top: 150px;
  }

  #educationhead
  {
    margin-left: 100px;
    color: antiquewhite;
  }

h3
{
  color: antiquewhite;
}  
pre
{
  color: white;
}
#educontent
{
  font-size: 18px;
  margin-left: 0px;
  font-family: 'Arvo', serif;
  color: sandybrown;
}

#educontent2
{
  font-size: 16px;
  margin-left: 0px;
}