.navbar li img
{
	border-radius: 40%;
	margin-top: 5px;
	margin-right: 20px;
	margin-left: 1px;
}

.fa {
  border-radius: 10%;
  padding: 9px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  width: 40px;
  margin-right : 20px;
  margin-top : 2px;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  width:40px;
  margin-left : 10px;
  margin-right: 20px;
  margin-top : 2px;
}

.fa-linkedin{
  background: #007bb5;
  color: white;
  width: 40px;
  margin-left : 10px;
  margin-top : 2px;
}

#github_image
{
  margin-left : 30px;
  margin-top: 0px;
  padding: 10px;    
  padding : 2px;
}